# Visual Studio files
.vs/
bin/
obj/
*.vcxproj.user
*.cache
*launchSettings.json

# Output files
arbiter.log
arbiter.nunit
TestResult.xml

# Local only data
Default/
lib/
NativeImage/
tools/
/publish
